@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-prev.swiper-button-disabled,
.custom-prev2.swiper-button-disabled,
.custom-prev3.swiper-button-disabled,
.custom-prev4.swiper-button-disabled,
.custom-prev5.swiper-button-disabled,
.main-prev.swiper-button-disabled {
  transform: translateX(-5px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

  
.custom-next.swiper-button-disabled,
.custom-next2.swiper-button-disabled,
.custom-next3.swiper-button-disabled,
.custom-next4.swiper-button-disabled,
.custom-next5.swiper-button-disabled,
.main-next.swiper-button-disabled {
  transform: translateX(5px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

  .swiper-fade-trend {
    mask-image: linear-gradient(to right, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }
  .swiper-slide-trend {
    width: 140px !important;
  }
  .swiper-slide-trend2{
    width: 240px !important; 
  }

  .custom-pagination {
    display: flex;
    height: 10px;
    width: 80% !important;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  .custom-bullet {
    cursor: pointer;
    min-width: 20px;
    width: 120px;
    height: 2px;
    margin: 0 6px;
    background-color: #ffffff96 !important;
    transition: background-color 0.3s;
  }
  
  .custom-bullet-active {
    background-color: #fff !important;
  }
  

  .mySwiper{
    width: 95% !important;
    height: 380px;
    border-radius: 12px 12px 8px 8px;
    -webkit-mask-image: radial-gradient(101% 10% at 50% 102%, transparent 50%, white 52%);
    mask-image: radial-gradient(101% 10% at 50% 102%, transparent 50%, white 52%);
  }
  .gradientSwiper {
    background-image: linear-gradient(0deg, rgba(255, 208, 208, 0.201) 1%, rgba(0, 0, 0, 0.452) 11%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 18px;
    bottom: 0;
    z-index: 2;
  }
  
  .gradientSwiper2 {
    background-image: linear-gradient(0deg, rgba(236, 180, 183, 0.107) 2%, transparent 40%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    border-radius: 18px;
    bottom: 0;
    z-index: 4;
  }
  

.swiper-shadow{
  -webkit-filter: drop-shadow(12px 16px 12px #000);
    filter: drop-shadow(12px 16px 12px #000);
}
*::-webkit-scrollbar {
  width: 4px;
  height: 0;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #161616;
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgb(158, 0, 0);
}
.spinner {
  animation: rotate 1s linear infinite;
}


@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@keyframes belanimate {
  0% {
    transform: rotate(0)
  }
  40% {
    transform: rotate(20deg)
  }
  80% {
    transform: rotate(-20deg)
  }
  100% {
    transform: rotate(0)
  }
}

.bell-animate {
  animation: belanimate 1s ease-in-out ; 
}
@keyframes moveTopRight {
    0% {
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
    }
    15% {
      top: 36%;
      left: 55%;
      transform: translate(-50%, -50%) scale(0.97);
    }
    25% {
      top: 32%;
      left: 60%;
      transform: translate(-50%, -50%) scale(0.94);
    }
    35% {
      top: 28%;
      left: 65%;
      transform: translate(-50%, -50%) scale(0.9);
    }
    45% {
      top: 24%;
      left: 70%;
      transform: translate(-50%, -50%) scale(0.85);
    }
    55% {
      top: 20%;
      left: 75%;
      transform: translate(-50%, -50%) scale(0.8);
    }
    65% {
      top: 16%;
      left: 80%;
      transform: translate(-50%, -50%) scale(0.75);
    }
    75% {
      top: 12%;
      left: 85%;
      transform: translate(-50%, -50%) scale(0.7);
    }
    85% {
      top: 8%;
      left: 90%;
      transform: translate(-50%, -50%) scale(0.65);
    }
    100% {
      top: 4%;
      left: 92%;
      transform: translate(-50%, -50%) scale(0.4);
    }
    
  }
  
  
  .animate-full-top-right {
    position: absolute;
  animation: moveTopRight 1s ease-in-out forwards;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .swiper-slide-trend {
      width: 170px !important; 
    }
}
@media screen and (min-width: 1024px) {
  .swiper-slide-trend {
      width: 200px !important; 
    }
    .mySwiper {
      height: 530px;
  }
}